aws_region = "eu-west-2"

st_vpc_id = "vpc-0f88c9baaa557c312"
ot_vpc_id = "vpc-08d937b89707ea8ac"

st_tgw_id = "tgw-0197ed40c5a15e3dd"
ot_tgw_id = "tgw-046432679404c0c8e"

st_firewall_name = "st-network-prod-euw2-firewall "
ot_firewall_name = "ot-network-prod-euw2-firewall"

st_flow_log_group_name = "/aws/vpc-flow-logs/st-network-prod-hub-vpc"
#ot_flow_log_group_name = "/aws/vpc/ot/flowlogs"

#zscaler_st_instances = ["i-0stzscaler1"]
#zscaler_ot_instances = ["i-0otzscaler1"]

alarm_email = "murali.prasad@severntrent.co.uk"
